.tasks-list {
    background-color: rgb(35, 39, 47, 1);
    padding: 10px;
    height: 100vh;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 48, 59, 1);
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    gap: 20px;
    /* 
    margin: 10px 30px;
    padding: 10px;
    height: auto;
    width: auto;*/
}